/*loader*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.loader.hidden {
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
 }
}
.s2 {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: transparent;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s1 {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50vh;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: transparent;
}
.bigcon {
  position: absolute;
  height: 95px;
  width: 95px;
  top: 50vh;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: transparent;
  animation: bigcon 2s infinite linear;
  animation-delay: 0.25s;
}
.b {
  border-radius: 50%;
  position: absolute;
}
.s {
  width: 25px;
  height: 25px;
  animation: small 2s infinite ease;
  box-shadow: 0px 2px rgba(0,0,0,0.3);
  background-color: #8b8b8b;
}
.s:nth-child(1) {
  top: 0%;
  left: 0%;
}
.s:nth-child(2) {
  top: 0%;
  right: 0%;
}
.s:nth-child(3) {
  right: 0%;
  bottom: 0%;
}
.s:nth-child(4) {
  bottom: 0%;
  left: 0%;
}
.big {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  z-index: 1;
  background-color: #585858;
  animation: bigball 1s infinite linear;
}
.sb1{
  animation-delay: -1.75s;
}
.sb6{
  animation-delay: -1.5s;
}
.sb2{
  animation-delay: -1.25s;
}
.sb7{
  animation-delay: -1s;
}
.sb3{
  animation-delay: -0.75s;
}
.sb8{
  animation-delay: -0.5s;
}
.sb4{
  animation-delay: -0.25s;
}
.sb5{
  animation-delay: -0s;
}
@keyframes bigcon {
  0% {
      transform-origin: center;
      transform: translate(-50%, -50%) rotate(45deg);
 }
  100% {
      transform-origin: center;
      transform: translate(-50%, -50%) rotate(405deg);
 }
}
@keyframes small {
  0% {
      transform: scale(1);
      background-color: #383838;
 }
  10% {
      transform: scale(1.3);
      background-color: #a8a8a8;
 }
  15% {
      transform: scale(1);
 }
  25%{
      transform: scale(1);
      background-color: #383838;
 }
  100%{
      transform: scale(1);
      background-color: #a8a8a8;
 }
}
/* page */
.header {
  display: flex;
  justify-content: space-between;
}
.logo-container {
  display: block;
}
.button-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  align-items: center;
}
a.btn,.btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  transition: all 0.2s ease;
  font-family: 'verdana';
}
.btn-radius {
  border-radius: 5px;
}
.btn-medium {
  font-size: 0.7375em;
  padding: 0.375em 1.375em;
}
.btn-medium-detalii {
  font-size: 0.9375em;
  padding: 0.375em 1.300em;
}
.btn-green {
  color: rgb(37, 168, 5);
  border-color: rgb(37, 168, 5);
}
.btn-green:hover {
  background: rgb(37, 168, 5);
  color: rgb(255, 255, 255);
  border-color: rgb(37, 168, 5);
}
.btn-green:active {
  background: rgb(40, 107, 23);
  border-color: rgb(40, 107, 23);
}
.btn-gray {
  color: rgb(206, 206, 206);
  border-color: rgb(206, 206, 206);
}
.btn-gray:hover {
  background: rgb(139, 139, 139);
  color: rgb(255, 255, 255);
  border-color: rgb(139, 139, 139);
}
.btn-gray:active {
  background: rgb(90, 90, 90);
  border-color: rgb(90, 90, 90);
}
.btn-detalii {
  color: rgb(255, 255, 255);
  background-color: rgb(95, 95, 95) 
}
.btn-detalii:hover {
  background-color: rgb(37, 168, 5);
  color: rgb(255, 255, 255);
}
.btn-detalii:active {
  background: rgb(40, 107, 23);
}
.buttons, .buttons2 {
  margin: 0 5px;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.detalii {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.imagine {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
}
.nume {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 30px 0px 10px 0px;
}
.descriere {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}
.back {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5px;
}
a {
  color: rgb(95, 95, 95);
  text-decoration: none;
}
a:hover {
  transition: all 0.2s ease;
  color: rgb(37, 168, 5);
  cursor: pointer;
}
a:active {
  color: rgb(40, 107, 23);
}
.pretcart {
  display: flex;
  margin-top: 15px;
}
.pret {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: auto;
}
svg {
  margin-left: 20px;
}
.euro {
  font-size: 30px;
  margin-left: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
svg {
  fill: rgb(95, 95, 95) 
}
svg:hover {
  transition: all 0.2s ease;
  fill: rgb(37, 168, 5);
}
svg:active {
  fill: rgb(40, 107, 23);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8b8b8b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  font-weight: 100;
}
@media only screen and (max-width: 768px) {
  .header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100% 
 }
  .logo-container {
      width:100% 
 }
  .container {
      width: 100%;
 }
}
@media only screen and (max-width: 320px) {
  .header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100% 
 }
  .logo-container {
      width:100%;
 }
  .container {
      width: 100%;
 }
}
