

.header {
 display: flex;
 justify-content: space-between;
}

.logo-container {
    display: block;
    margin: 10px;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 10px;
  align-items: center;
}

a.btn,.btn {
  
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  transition: all 0.2s ease;
  font-family: 'verdana';
}

.btn-radius {
  border-radius: 5px;
}

.btn-medium {
    font-size: 0.7375em;
    padding: 0.375em 1.375em;
}
.btn-medium-detalii {
    font-size: 0.9375em;
    padding: 0.375em 1.300em;
}

.btn-green {
    color: rgb(37, 168, 5);
    border-color: rgb(37, 168, 5);
}

.btn-green:hover {
  background: rgb(37, 168, 5);
  color: rgb(255, 255, 255);
  border-color: rgb(37, 168, 5);        
}

.btn-green:active {     
  background: rgb(40, 107, 23);
  border-color: rgb(40, 107, 23);        
}

.btn-gray {
    color: rgb(206, 206, 206);
    border-color: rgb(206, 206, 206);
}

.btn-gray:hover {
  background: rgb(139, 139, 139);
  color: rgb(255, 255, 255);
  border-color: rgb(139, 139, 139);        
}

.btn-gray:active {     
  background: rgb(90, 90, 90);
  border-color: rgb(90, 90, 90);
}

.btn-detalii {
  color: rgb(255, 255, 255);
  background-color: rgb(95, 95, 95)
}

.btn-detalii:hover {
  background-color: rgb(37, 168, 5);
  color: rgb(255, 255, 255);    
}

.btn-detalii:active {     
  background: rgb(40, 107, 23);
}

#buttons, #buttons2 {
  margin: 0 5px;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.produs{
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  
  padding: 10px; 
  width: 240px;
  height: 170px;
  margin:20px;
  margin-top: 30px;
  font-size: 30px;
  font-family: 'verdana';
  text-align: center;
  
}

.produs:hover {
  transform: scale(1.1); 
  transition: all 0.2s ease;
}

#imagine{
  float: left;
}

#nume{
  height: 100px;
  text-align: center;
  font-size: 17px;
}
#pret {
  
}
span {
  margin-left: 5px;
}
#detalii{
  display: inline-block;
  font-size: 13px;
  margin: 2px;
  font-family: 'verdana';
}

#cart{
  margin-top: -26px;
  margin-left: 209px;
  fill: rgb(95, 95, 95)
}

#cart:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
  transition: all 0.2s ease; 
  fill: rgb(37, 168, 5);
}

#cart:active {     
  fill: rgb(40, 107, 23);
}

/*@media only screen and (max-width: 645px) {
   .produs {
    width: 90%;
  } 

  .header {
    display: block;
  }
}*/
@media only screen and (max-width: 768px) {
.header {
  display: block;
  width: 100%
}
.container {
  width: 100%;
}

}
@media only screen and (max-width: 320px) {
  .header {
    display: block;
    width: 100%
  }
  .container {
    width: 100%;
  }
  
  }