body{
    background-color: rgb(255, 255, 255);
}
h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(145, 145, 145);
    margin-top: 100px;
}
.first{
    background-color: rgb(145, 145, 145);
    color: rgb(255, 255, 255);
    width: 700px;
    height: 150px;
    float:none;
    border-radius: 10px;
    margin:auto;
    
}

input{
    
    padding: 5px 10px;
    margin-left: 10px;
    display:inline;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
    width: 200px;
    outline: none;
}
p{
 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
button:focus {outline:0;}
    
button{
    border:1px solid #ccc;
    border-radius:4px;
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 5px 40px;
    display: flex;
    margin:auto;
    margin-top: 20px;
} 
button:active{
    background: rgb(31, 31, 31);
    color: rgb(172, 172, 172);
}


.container {
margin: 0 auto;
padding: 20px;
border-radius: 10px;
background-color: rgba(70, 70, 70, 0.5);
margin-bottom: auto;
float:none;
width: 200px;

}

.input-container {

justify-content: center;


margin-top: 10px;
width: 700px;
}

.name, .phone, .add {
margin: 20px 5px  ;
font-weight: bold;
}

.bkg-white {
background-color: #f0f0f0;
}

.clr-white{
color: #f0f0f0;
}




.name input, .phone input {
height: 30px;
border-radius: 5px;
border: 0;
padding-left: 5px;
}

#list-container {
width: 700px;
height: 10px;


}

#list {
list-style: none;
}

.item {
display: flex;
justify-content: space-between;
float: none;
}

.item-np {
font-size: 20px;
color: black;
float: none;
}


