
body {
	background-color: rgb(190, 190, 190);
	font-family: Arial, sans-serif;
	font-size: 20px;
}
body {
	margin: 30px;
	color: black;
	text-align: center;
}
main {
	min-height: 700px;
}
h2 {
	display: flex;
}
form {
	background-color: rgba(158, 158, 158, 0.9);
	width: 800px;
	margin-bottom: 5px;
	padding: 20px 50px 0 50px;
	outline: none;
}
#errorN, #errorT {
	display: block;
	color: red;
	font-weight: bold;
}
#errorN {
	text-align: left;
}
#errorT {
	text-align: right;
}
table {
	background-color: rgba(158, 158, 158, 0.9);
	width: 900px;
	padding: 20px 50px;
}
label > input {
	padding: 5px;
	font-size: 20px;
	outline: none;
}
button {
	background-color: rgb(58, 149, 172);
	color: white;
	border: none;
	padding: 10px;
	margin: 15px;;
	outline: none;
}
button:hover {
	background-color: rgb(36, 94, 109);
	color: white;
	border: none;
	padding: 10px;
	margin: 15px;;
	outline: none;
}
button:active {
	background-color: rgb(22, 56, 65);
	color: white;
	border: none;
	padding: 10px;
	margin: 15px;;
	outline: none;
}
form, table, input, button {
	border-radius: 5px;
}